@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* VARIABLES */
:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black : hsl(0, 0%, 0%); /* with 75% opacity for lightbox background */
}

html {
    font-family: "Kumbh Sans", sans-serif;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
}

/* HEADER */
header {
    /*border: 4px solid red;*/
    position: sticky;
    padding: 8px 16px;
    border-bottom: 2px solid var(--light-grayish-blue);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background: var(--white);
    font-weight: 700;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 2;
}

.navbar a {
    padding: 8px 8px 8px 32px;
    display: block;
}

.close-btn {
    position: relative;
    top: 5px;
}

.navbar-content li {
    list-style: none;
}

.nav-item {
    font-weight: bold;
    font-size: 18px;
    color: var(--black);
}

.open-btn,
.close-btn,
.cart-btn {
    border: none;
    background: none;
    display: flex;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-container,
.cart-count {
    display: none;
}

.profile-picture img {
    display: flex;
    width: 30px;
    height: 30px;
}

/* SLIDER */
.slider-container {
    /*border: 8px solid saddlebrown;*/
    position: relative;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
}

.slider {
    /*border: 10px solid violet;*/
    display: flex;
}

.slide {
    min-width: 100%;
    height: 400px;
    transition: transform 0.5s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--white);
    border: none;
    padding: 12px 16px;
    border-radius: 99%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev {
    left: 5px;
}

.next {
    right: 5px;    
}

/* MAIN CONTENT */
.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content h3 {
    color: var(--dark-grayish-blue);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.content h2 {
    font-weight: bold;
    font-size: 40px;
}

.product-desc {
    font-size: 22px;
    font-weight: 300;
    color: var(--dark-grayish-blue);
}

.price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    display: flex;
    align-items: center;
    gap: 20px;
}

.current-price {
    font-weight: bold;
    font-size: 32px;
}

.discount {
    background: var(--black);
    color: var(--white);
    padding: 4px 8px;
    border-radius: 6px;
}

.previous-price {
    color: var(--dark-grayish-blue);
    font-weight: 500;
    font-size: 18px;
    text-decoration: line-through;
}

.add-to-cart-container {
    /*border: 3px solid;*/
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-grayish-blue);
    height: 48px;
    padding: 24px;
    border-radius: 9px;
}

.count {
    font-weight: bold;
}

.minus, .plus {
    background: none;
    border: none;
}

.add-to-cart {
    display: flex;
    justify-content: center;
}

.add-to-cart-btn {
    width: 100%;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: var(--orange);
    border: none;
    border-radius: 8px;
    box-shadow: 0 24px 12px var(--pale-orange);
}

.add-to-cart-btn span {
    font-weight: bold;
    font-size: 16px;
    margin-top: 3px;
}

